<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>55733166537-5i11v5bveo886s1v0dr0b16195ehu5nv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.55733166537-5i11v5bveo886s1v0dr0b16195ehu5nv</string>
	<key>API_KEY</key>
	<string>AIzaSyAbf0oXAxhEtEhO-b7ZKA-zshD27VPZl-g</string>
	<key>GCM_SENDER_ID</key>
	<string>55733166537</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>software.ex.base-beta</string>
	<key>PROJECT_ID</key>
	<string>db-gen</string>
	<key>STORAGE_BUCKET</key>
	<string>db-gen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:55733166537:ios:f02d30670a4ddec2b68818</string>
	<key>DATABASE_URL</key>
	<string>https://db-gen.firebaseio.com</string>
</dict>
</plist>